@using Presentation.Models.VMs.Company;
@using Presentation.Models.VMs.CompanyManager;
@model GeneralDetailVm
@{
    string role = User.FindFirst(ClaimTypes.Role).Value;
}
<style>
    .btnMine {
        transition: background-color 0.3s ease, transform 0.3s ease;
    }

    .btnMine:active {
        transform: scale(0.9); /* Butonu küçültün */
    }

    .hidden {
        display: none;
    }

    .photo-container {
        width: 400px;
        height: 600px;
        perspective: 800px;
        transition: transform 0.5s, box-shadow 0.5s;
    }

    .photo {
        width: 100%;
        height: 100%;
        transform: rotateY(3deg) rotateX(2deg);
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
        transition: transform 0.5s, box-shadow 0.5s;
        border-radius: 5px;
    }

    .photo-container:hover .photo {
        transform: rotateY(0deg) rotateX(0deg); /* Hover sırasında 3D efekti kaldırma */

        box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.7); /* Hover sırasında gölgeyi artırma */
    }
</style>

<div class="main-container">
    <div class="pd-ltr-20">

        <div class="card card-box pd-20 height-100-p mb-30 pb-4">
            <div class="row align-items-center">
                <div class="col-md-5 m-3 m-5">
                    <div class="photo-container">
                        <img src="~/company-logos/@Model.ImagePath" alt="" class="photo">
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="card-body">
                        <h2 id="welcome">
                            Company Details
                        </h2>
                        <br />
                        <table class="table" style="overflow">
                            <tbody>
                                <tr>
                                    <td class="text-info"><strong>Company Name:</strong></td>
                                    <td>@Model.CompanyName</td>
                                </tr>
                                <tr>
                                    <td class="text-info"><strong>Company Title:</strong></td>
                                    <td>@Model.CompantTitle</td>
                                </tr>
                                <tr>
                                    <td class="text-info"><strong>Mersis:</strong></td>
                                    <td>@Model.Mersis</td>
                                </tr>
                                <tr>
                                    <td class="text-info"><strong>Tax Number:</strong></td>
                                    <td>@Model.TaxNumber</td>
                                </tr>
                                <tr>
                                    <td class="text-info"><strong>Tax Office:</strong></td>
                                    <td>@Model.TaxOffice</td>
                                </tr>
                                <tr>
                                    <td class="text-info"><strong>E-mail:</strong></td>
                                    <td>@Model.Email</td>
                                </tr>
                                <tr>
                                    <td class="text-info"><strong>Address:</strong></td>
                                    <td style="white-space: normal">@Model.Address</td>
                                </tr>
                                <tr>
                                    <td class="text-info"><strong>Phone:</strong></td>
                                    <td>@Model.PhoneNumber</td>
                                </tr>
                                <tr>
                                    <td class="text-info"><strong>Number Of Employees:</strong></td>
                                    <td>@Model.NumberOfEmployees</td>
                                </tr>
                                <tr>
                                    <td class="text-info"><strong>Date Of Establishment</strong></td>
                                    <td>@Model.DateOfEstablishment.Year</td>
                                </tr>
                                <tr>
                                    <td class="text-info"><strong>Contrat Start Date:</strong></td>
                                    <td>@Model.ContratStartDate.ToShortDateString()</td>
                                </tr>
                                <tr>
                                    <td class="text-info"><strong>Contrat End Date:</strong></td>
                                    <td>@Model.ContratEndDate.ToShortDateString()</td>
                                </tr>
                                <tr>
                                    <td class="text-info"><strong>Status:</strong></td>
                                    <td>@Model.Status</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div>
            <div class="card card-box pd-20 height-100-p mb-30 pb-4">
                <div class="d-flex flex-row justify-content-center">
                    <div class="mt-3">
                        <a id="toggleManagers" class="btn btnMine" style="max-width: 200px">
                            <div class="d-flex flex-column">
                                <span style="font-size: 24px; font-weight: bold">Managers</span>
                                <i class="fa-solid fa-chevron-down" style="color: #248afd; font-size: 50px"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="ml-4 mr-4">
                    <table id="managersTable" class="table hidden">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Surname</th>
                                <th>Title</th>
                                <th>Department</th>
                                <th>Address</th>
                                <th>Phone Number</th>
                                <th>Email</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var manager in Model.CompanyManagers)
                            {
                                <tr>
                                    <td>
                                        <img src="~/user-images/@manager.ImagePath" style="border-radius: 50%; width: 100px; height: 100px;">
                                    </td>
                                    <td>@manager.FirstName @manager.SecondFirstName</td>
                                    <td>@manager.LastName @manager.SecondLastName</td>
                                    <td>@manager.Title</td>
                                    <td>@manager.DepartmentName</td>
                                    <td style="width: 100px; white-space: normal">@manager.Address</td>
                                    <td>@manager.PhoneNumber</td>
                                    <td>@manager.Email</td>
                                    <td>
                                        @if (role == "SiteManager")
                                        {
                                            <a class="btn btn-outline-dark ml-2" asp-controller="CompanyManager" asp-action="CompanyManagerDetails" asp-route-id="@manager.Id">Details</a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <br />
            <div class="card card-box pd-20 height-100-p mb-30 pb-4">
                <div class="d-flex flex-row justify-content-center">
                    <div class="mt-3">
                        <a id="toggleEmployees" class="btn btnMine" style="max-width: 200px">
                            <div class="d-flex flex-column">
                                <span style="font-size: 24px; font-weight: bold">Employees</span>
                                <i class="fa-solid fa-chevron-down" style="color: #248afd; font-size: 50px"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="ml-4 mr-4">
                    <table id="employeesTable" class="table hidden">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Surname</th>
                                <th>Title</th>
                                <th>Department</th>
                                <th>Address</th>
                                <th>Phone Number</th>
                                <th>Email</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var emp in Model.Employees)
                            {
                                <tr>
                                    <td>
                                        <img src="~/user-images/@emp.ImagePath" style="border-radius: 50%; width: 150px; height: 150px;">
                                    </td>
                                    <td>@emp.FirstName @emp.SecondFirstName</td>
                                    <td>@emp.LastName @emp.SecondLastName</td>
                                    <td>@emp.Title</td>
                                    <td>@emp.DepartmentName</td>
                                    <td style="width: 100px; white-space: normal">@emp.Address</td>
                                    <td>@emp.PhoneNumber</td>
                                    <td>@emp.Email</td>
                                    <td>
                                        @*Alttaki satırda action ve controller düzenlenecek*@
                                        <a class="btn btn-outline-dark ml-2" asp-controller="Employee" asp-action="EmployeeDetails" asp-route-id="@emp.Id">Details</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@if (TempData is not null && TempData.ContainsKey("info"))
{
    <script>
        var message = "@TempData["info"]";
        alert(message);
    </script>
}

<script>
    document.getElementById("toggleManagers").addEventListener("click", function () {
        var managersTable = document.getElementById("managersTable");
        if (managersTable.classList.contains("hidden")) {
            managersTable.classList.remove("hidden");
        } else {
            managersTable.classList.add("hidden");
        }
    });

    document.getElementById("toggleEmployees").addEventListener("click", function () {
        var employeesTable = document.getElementById("employeesTable");
        if (employeesTable.classList.contains("hidden")) {
            employeesTable.classList.remove("hidden");
        } else {
            employeesTable.classList.add("hidden");
        }
    });
</script>